<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
      
  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="fileTarget" fileName="huobi-csharp-sdk-app-${date:yyyyMMdd}.log"
            layout="${date}|${level:uppercase=true:padding=-5}|${message} ${exception}" />
    <target xsi:type="Console" name="consoleTarget"
            layout="${date}|${level:uppercase=true:padding=-5}|${message} ${exception}" />
        
    <target xsi:type="File" name="perfFileTarget" fileName="huobi-csharp-sdk-perf-${date:yyyyMMdd}.log"
            layout="${date}|${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="appLogger" minlevel="Trace" writeTo="consoleTarget, fileTarget" />
    <logger name="perfLogger" minlevel="Trace" maxlevel="Trace" writeTo="perfFileTarget" />
  </rules>
</nlog>